<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/distribuidos</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">n0m3l0s3</property>
    <mapping class="org.rafa.dtd.Atributo"/>
    <mapping class="org.rafa.dtd.ProductoAtributo"/>
    <mapping class="org.rafa.dtd.TipoUnidad"/>
    <mapping class="org.rafa.dtd.Usuario"/>
    <mapping class="org.rafa.dtd.Detalle"/>
    <mapping class="org.rafa.dtd.Compra"/>
    <mapping class="org.rafa.dtd.Unidad"/>
    <mapping class="org.rafa.dtd.EstatusCompra"/>
    <mapping class="org.rafa.dtd.Producto"/>
    <mapping class="org.rafa.dtd.Categoria"/>
    <mapping class="org.rafa.dtd.DetalleId"/>
    <mapping class="org.rafa.dtd.UnidadId"/>
    <mapping class="org.rafa.dtd.ProductoAtributoId"/>
  </session-factory>
</hibernate-configuration>
