<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
  <!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/distribuidos</property>
		<property name="connection.username">root</property>
		<property name="connection.password">n0m3l0s3</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<!-- Drop and re-create the database schema on startup -->
		<!-- <property name="hbm2ddl.auto">create</property> -->
		
  		<mapping class="org.rafa.dtd.categoria"></mapping>
  		<mapping class="org.rafa.dtd.compra"></mapping>
  		<mapping class="org.rafa.dtd.detalle"></mapping>
  		<mapping class="org.rafa.dtd.unidad"></mapping>
  		<mapping class="org.rafa.dtd.usuario"></mapping>
  		<mapping class="org.rafa.dtd.producto"></mapping>
  		<mapping class="org.rafa.dtd.atributo"></mapping>
		
	</session-factory>
</hibernate-configuration>
